%li{id: "framework-#{framework.id}"}
  .row
    .columns.small-2
      =render partial: 'vote', object: framework, as: 'framework'
    .columns.small-10
      .panel
        %h3= link_to framework.name, framework
        %p= framework.description.truncate(200, separator: ' ', omission: ' ...')
        =render partial: 'frameworks/info', object: framework, as: 'framework'
