=form_for :search, url: search_frameworks_path, method: :get do |f|
  .row
    .small-12.columns
      .row.collapse
        .small-10.columns
          = text_field_tag :q, params[:q], placeholder: t('frameworks.index.search_label')
        .small-2.columns
          = submit_tag t('frameworks.index.search_go'), name: nil, class: 'button secondary postfix'