%h1= @framework.name
.row
  .columns.small-1
    =render partial: 'vote', object: @framework, as: 'framework'
  .columns.small-11
    .panel
      =render partial: 'info', object: @framework, as: 'framework'
.row
  .columns.small-12
    =render partial: 'comments/form', object: @framework, as: 'framework'
.row
  .columns.small-12
    %ul.no-list
      =render(partial: 'comments/comment', collection: @framework.comments.order(created_at: :desc).limit(30)) || t('frameworks.show.no_comment')