%h1= @framework.name
.row
  .columns.small-1
    =render partial: 'frameworks/vote', object: @framework, as: 'framework'
  .columns.small-11
    .panel
      %p= @framework.description
      =render partial: 'frameworks/info', object: @framework, as: 'framework'
.row
  .columns.small-12
    =render partial: 'comments/form', object: @framework, as: 'framework'
.row
  .columns.small-12
    %ul.no-list
      =render(partial: 'comments/comment', collection: @comments) || t('frameworks.show.no_comment')